body {
    margin: 0 0;
}

.container {
    margin: 60px 0;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-content: center;
    gap: 40px;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    margin-left: 100px;
}

thead {
    font-weight: bold;
}

td {
    border: 1px solid black;
    gap: 0;
    padding: 5px 20px;
    width: 125px;
}

form {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}

label {
    display: block;
}

form input {
    outline: none;
    width: 180px;
}

.hidden {
    visibility: hidden;
}

form input[type="submit"] {
    margin-top: 10px;
    width: 100px;
    justify-self: center;
}

td.remove {
    border: none;
}

.invalid {
    border: 2px solid red;
}

.error {
    width: 180px;
    font-size: 14px;
    background-color: pink;
    color: red;
    border-radius: 5px;
}